@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}
.aClassForCentering {
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
